/* line 3, ../_sass/_typography.sass */
.main_font, .font_display_1, .font_headline, .nav-bar .title, .font_title, .menu-content .item .label, .font_body_2, .font_body_1, .page-content {
  font-family: 'Roboto','Helvetica', sans-serif;
}
body{
  background: #fbfdfd;
}

/* line 6, ../_sass/_typography.sass */
.font_display_1 {
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: 77px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=54);
  opacity: 0.54;
}

/* line 14, ../_sass/_typography.sass */
.font_headline, .nav-bar .title {
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: 69px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=54);
  opacity: 0.54;
}

/* line 22, ../_sass/_typography.sass */
.font_title, .menu-content .item .label {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  opacity: 0.87;
}

/* line 30, ../_sass/_typography.sass */
.font_body_2 {
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: 24px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  opacity: 0.87;
}

/* line 38, ../_sass/_typography.sass */
.font_body_1, .page-content {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  opacity: 0.87;
}

/* line 4, ../_sass/main.sass */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 120px;
  margin: 25 0 0 auto;
  background-color: rgba(0, 91, 153, 0.9);
  -webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.45);
  -moz-box-shadow:   0px 0px 5px 0px rgba(0,0,0,0.45);
  box-shadow:        0px 0px 5px 0px rgba(0,0,0,0.45);
  z-index: 1;
}
/* line 14, ../_sass/main.sass */
.nav-bar .button {
  background: #009ebb;
  color: white;
  margin-left: 20px;
  min-width: 0px;
}
/* line 20, ../_sass/main.sass */
.nav-bar .title {
  margin-left: 20px;
  color: white;
  display: inline;
  font-size: 16px;
  font-weight: 300;
  opacity: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: auto;
}

/* line 38, ../_sass/main.sass */
.page-banner {
  margin-top:120px;
  /*border-bottom: 5px solid #8ca8cd;*/
}

/* line 41, ../_sass/main.sass */
.page-content {
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
/* line 49, ../_sass/main.sass */
.page-content .text-center {
  margin-left: 10%;
  min-width: 0px;
  margin-right: 10%;
  margin-bottom: 20%;
  font-family: 'Roboto','Helvetica', sans-serif;
  font-weight: 300;
}

/* line 54, ../_sass/main.sass */
.menu-content {
  width: auto;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: #fbfdfd;
  height: 200%;
}
/* line 66, ../_sass/main.sass */
.menu-content .item {
  background: white;
  position: relative;
  color: #ffab40;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #c9e3eb;
  cursor: pointer;
}
.menu-content .odd {
  background: #f0f7f9;
  position: relative;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #c9e3eb;
  cursor: pointer;
}
.menu-content .dummy{
  color: #ffab40;
  width: 100%;
  height: 70px;
}
/* line 74, ../_sass/main.sass */
.menu-content .item img {
  height: 40px;
  margin-left: 8%;
}
/* line 79, ../_sass/main.sass */
.menu-content .item .label {
  display: inline;
  margin-left: 5%;
  color: black;
  float: left;
  text-transform: none;
  font-size: 16px;
  font-weight: 300;
}

/* line 96, ../_sass/main.sass */
.footer {
  padding:5px;
  width: 100%;
  background: rgba(5, 90, 153, 0.9);
  position: fixed;
  bottom:0;
  -webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.45);
  -moz-box-shadow:   0px 0px 5px 0px rgba(0,0,0,0.45);
  box-shadow:        0px 0px 5px 0px rgba(0,0,0,0.45);
}
/* line 100, ../_sass/main.sass */
.footer a img {
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
paper-ripple {
  color: #4285f4;
}
